# Ingestion Configuration
DISABLE_INGEST_WITH_LANGFLOW=false
INGEST_SAMPLE_DATA=true

# Auth
OPENSEARCH_PASSWORD=

# Paths
OPENSEARCH_DATA_PATH=./opensearch-data
LANGFLOW_DATA_PATH=./langflow-data
OPENSEARCH_INDEX_NAME=documents

# Model Providers
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Ports
FRONTEND_PORT=3000
LANGFLOW_PORT=7860
OPENSEARCH_PORT=9200
OPENSEARCH_HOST=localhost

# Langflow
LANGFLOW_AUTO_LOGIN=True
LANGFLOW_NO_LOGIN=True
LANGFLOW_DEACTIVATE_TRACING=true
LANGFLOW_LOG_LEVEL=ERROR
DO_NOT_TRACK=true
LANGFLOW_ENABLE_SUPERUSER_CLI=false
LANGFLOW_NEW_USER_IS_ACTIVE=false

# App Specific
# VITE_PROXY_TARGET is used by frontend to proxy requests to backend
VITE_PROXY_TARGET=http://127.0.0.1:8000
